body{
  background-color: white;
  position: absolute;
  width: 380px;
  height: 720px;
  left: 0px;
  top: 0px;
}
a{
    text-decoration: none;
}
ul{
     list-style: none;
}
.navbar{
    position: relative;
    top:0;  
    background-color: none;
    width: 100%;
    height: 100px;
}
.nav-logo{
  display: flex;
  flex: none;
  align-items: center;
  text-align: center; 
  color: #2a7add;
  top:10px;
  width: 50%;
  height: 50px;
  font-family: 'Poppins';
  font-style:italic;
  font-weight:bolder;
   font-size: 25px;
}

.navbar li {
    float: right;
}
.navbar li a {
  display: block;
  color: #2a7add;
  text-align: center;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 40px;
}

h1{
  width: 330px;
  height: 150px;
  font-family: 'Poppins';
  font-style:inherit;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.20px;
  color:#07105a;
  }
  
.about-text{  
  width: 327px;
  height: 146px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  color: #344563;
}
 
.connect{
  padding-top:50px;
  width: 120px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #07588e;
}

.contact{
  display: flex;
}

#profile-link{
  padding: 10px;
  font-size: 25px;
}