@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

:root {
  --color1: #344563;
  --color2: #6070ff;
  --color3: #172b4d;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f5f7;
}

.h-content {
  max-width: 80%;
  margin: 0 auto;
}

.h-content h1 {
  font-size: 38px;
  color: #172b4d;
  font-weight: 700;
  margin-bottom: 18px;
}

p {
  color: #344563;
}

.h-content p {
  color: var(--color1);
  margin-bottom: 9px;
}

img {
  max-width: 100%;
}

.head-section {
  margin-top: -25px;
  border-bottom-left-radius: 100px;
}

header {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 18px;
}

nav img {
  display: block;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 29px 0;
}

.headline-section {
  background-image: url("./images/Header\ bg.svg");
  background-repeat: no-repeat;
  padding: 98px 0;
  width: 100%;
}

.h-main {
  margin: 0 auto;
  max-width: 100%;
  width: 927px;
}

.connect {
  display: block;
  text-decoration: none;
  color: #7f8cff;
  margin-bottom: 12px;
}

.h-socials-links li {
  display: inline-block;
  margin-right: 18px;
}

.works-section {
  display: grid;
  margin: 100px auto;
  padding: 0 5%;
  gap: 40px;
}

.works-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  border-radius: 24px;
  border: 1px solid #dfe1e6;
  padding: 30px;
}

.works-content {
  float: left;
}

.works-content h2 {
  color: var(--color3);
}

.works-name {
  color: var(--color1);
  font-weight: 600;
  margin: 10px 0;
}

.works-intro {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.position {
  display: flex;
}

.position li {
  margin-left: 30px;
  font-size: 0.8rem;
  color: #7a869a;
  font-weight: 600;
}

.w-languages {
  display: flex;
  margin: 18px 0;
}

.w-languages li {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: var(--color2);
  font-size: 12px;
}

.button {
  display: inline-block;
  border: 1px solid var(--color2);
  border-radius: 8px;
  padding: 12px;
  color: #396df2;
  text-decoration: none;
}

.button:hover {
  background: var(--color2);
  color: white;
}

.about-section {
  border-top-right-radius: 100px;
  padding: 114px 0;
}

/* ABOUT MYSELF SECTION********* */

.about-container {
  margin-left: 50px;
}

.about-container h2 {
  font-size: 40px;
  color: var(--color3);
}

.about-container p {
  margin: 13px 0;
}

.about-container .button {
  margin: 13px 0;
}

.a-socials-links {
  display: flex;
}

.a-socials-links li {
  margin-right: 13px;
  display: inline-block;
}

.a-languages {
  width: 90%;
  margin-top: 50px;
}

.a-languages li {
  display: block;
  border-bottom: 1px solid #dfe1e6;
  color: black;
  padding: 18px 0;
  cursor: pointer;
}

.a-languages span {
  display: inline-block;
  width: 80%;
  color: black;
  font-size: 20px;
}

.languages-list img {
  margin: 0 13px;
}

.languages-list p {
  margin-top: -40px;
  margin-left: 75px;
  color: #253858;
  font-size: 15px;
}

.languages-list {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
}

/* CONTACT SECTION */

.contact-section {
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  border-top-left-radius: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 10%;
}

.contact-section h2 {
  font-size: 40px;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.contact-section p {
  margin: 13px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 401;
  color: #ebebff;
}

form {
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-form li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  border: none;
  height: 50px;
  width: 450px;
}

textarea {
  vertical-align: top;
  height: 140px;
  resize: none;
}

.c-button {
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  /* line-height: 24px; */
  /* letter-spacing: 0.03em; */
  color: #6070ff;
  border: none;
  padding: 0.8rem 2rem;
  align-self: flex-start;
}

.c-form button:hover {
  color: red;
  background-color: #fff;
}

