:root {
  --font-family: 'Poppins';
  --color1: #ebebff;
  --color2: #6070ff;
}

body {
  background-image: url("images/header-background-mobile.png");
  position: absolute;
  width: 380px;
  height: 720px;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
}

.logo {
  width: 50%;
}

#logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--font-family);
  font-style: normal;
  color: var(--color2);
  font-size: 18px;
  width: 76px;
  height: 20px;
}

.navbar {
  position: relative;
  top: 0;
  background-color: none;
  width: 50%;
  height: 100px;
}

.navbar li {
  float: right;
  right: 15px;
  top: 50%;
}

.navbar li a {
  display: block;
  color: #2a7add;
  text-align: center;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 40px;
}

h1 {
  display: flex;
  width: 327px;
  height: 150px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  color: #172b4d;
}

.rectangle4 {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 300px;
  top: 150px;
  background: var(--color1);
  transform: rotate(-31deg);
}

.about-text {
  display: flex;
  width: 327px;
  height: 146px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 380;
  font-size: 16px;
  color: #344563;
  overflow: auto;
}

.connect {
  padding-top: none;
  width: 117px;
  height: 24px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #7f8cff;
  margin-left: 10px;
}

.contact {
  display: flex;
}

#profile-link {
  padding: 10px;
  font-size: 25px;
  overflow: auto;
}

.eclipse4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 236px;
  top: 657px;
  background: var(--color2);
  border-radius: 50%;
}

.rectangle5 {
  position: absolute;
  width: 68.05px;
  height: 12.17px;
  left: 190.82px;
  top: 650px;
  background: var(--color1);
  transform: rotate(23.34deg);
}

.eclipse15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 645px;
}

/* WORK SECTION */

.work-grid {
  display: grid;
  gap: 30px;
}

.project-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  gap: 10px;
  width: 327px;
  height: 555px;
  background: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 17px;
}

.project-work h3 {
  width: 290px;
  height: 35px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
}

.project-work .project-span {
  width: 53px;
  height: 15px;
  font-family: var(--color1);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #344563;
}

.project-work .project-text {
  width: 295px;
  height: 76px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 4380;
  font-size: 15px;
  color: #344563;
}

.project-list-items {
  width: 300px;
}

.project-list-items li {
  display: inline;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  padding-right: 20px;
}

#project-list {
  border: 0.1px;
  border-radius: 5px;
  background: #ebebff;
  text-align: center;
  align-items: center;
}

.project-button {
  width: 100px;
  height: 30px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  align-items: center;
  text-align: center;
  color: #396df2;
  border-color: 1px solid blue;
  border-radius: 8px;
  background: #ebebff;
  margin: 10px;
  border-bottom: 0;
  border-right: 0;
}

/* ABOUT MYSELF SECTION */

.about-myself {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1263px;
  left: 375px;
  top: 4769px;
  background-image: url(images/Base-about-myself.png);
  background-repeat: no-repeat;
  border: 2px solid #dfe1e6;
  border-radius: 27px;
}

h2 {
  display: flex;
  width: 327px;
  height: 101px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  padding-top: 30px;
  color: #172b4d;
  padding-left: 10px;
}

.about-myself-text {
  width: 328px;
  height: 144px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #344563;
  padding-left: 20px;
}

.resume {
  display: flex;
  width: 138px;
  height: 25px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  text-align: center;
  color: #396df2;
  border-radius: 8px;
  background-color: #ebebff;
  padding-left: 8px;
  border-bottom: 0;
  border-right: 0;
  margin-left: 5px;
  margin-bottom: 20px;
}

.categories {
  margin-top: 10px;
}

.button-categor {
  display: flex;
  flex-direction: column;
}

.categories #about-myself-cat-button {
  border-bottom: 0;
  border-right: 0;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 2px;
}

#about-myself-cat {
  display: flex;
  align-items: center;
  height: 24px;
  width: 310px;
  margin-bottom: 5px;
  margin-top: 10px;
  left: 12px;
  right: 78px;
  font-weight: 500;
  font-size: 20px;
}

.fa-cat {
  margin-left: 170px;
}

.hr {
  margin-top: 20px;
  margin-right: 20px;
}
